<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My first website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
  <body>
  <div class="container text-center"> <!-- we added new container which is going to be at the center of the container -->
    <div class="row g-5"> <!-- a row with gutter 5  -->
      <div class="col-12 bg-contrasting p-5"> <!-- our column will have a 12 grids, background will be contrasting and aroud the text will be more space -->
        <h1>Welcome to my blog!</h1> <!-- our text with size (h1) -->
      </div>
    </div>
    <div class="row g-5"><!-- a row with gutter 5  -->
      <div class="col-4 bg-secondary p-5 border table-dark"> <!-- we decided how many grids we want in this column, what color of background it#'s going to be and about the text color' -->
        <h4>Check our receiptes.</h4> <!-- our text with size (h4) -->
      </div>
      <div class="col-4 bg-secondary p-5 border table-dark"> <!-- we decided how many grids we want in this column, what color of background it#'s going to be and about the text color' -->
        <h4>Get Inspired!</h4> <!-- our text with size (h4) -->
      </div>
      <div class="col-4 bg-secondary p-5 border table-dark"><!-- we decided how many grids we want in this column, what color of background it#'s going to be and about the text color' -->
        <h4>Prepare delicious dishes.</h4> <!-- our text with size (h4) -->
      </div>
    </div>
  </div>
  <p> </p> <!-- paragraph -->
  <div class="row row-cols-1 row-cols-md-2 g-4"> <!-- here we established the row, numbers of columns, gutter and about responsive container -->
  <div class="col"> <!-- we added a column -->
    <div class="card"> <!-- we added a card class -->
      <img src="photos/pic1.jpg" class="card-img-top" alt="photo nr 1"> <!-- we added a photo source, decided to put the image to the top and gave the name of the image -->
      <div class="card-body"><!-- we are opening our body -->
        <h5 class="card-title">Card title</h5><!-- text of the tittle -->
        <a href="#" class="btn btn-success">Recipe</a><!-- new button with blue color -->
      </div>
      </div>
    </div>
  </div>
  <div class="col"><!-- we added a column -->
    <div class="card"><!-- we added a card class -->
      <img src="photos/pic2.jpg" class="card-img-top" alt="photo nr 2"> <!-- we added a photo source, decided to put the image to the top and gave the name of the image -->
      <div class="card-body"> <!-- we are opening our body -->
        <h5 class="card-title">Card title</h5> <!-- text of the tittle -->
        <a href="#" class="btn btn-success">Recipe</a> <!-- new button with blue color -->
      </div>
    </div>
  </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
  </body>
</html>
