.alert-custom{ 
    background-color: rgb(116, 77, 166); 
    color: rgb(212, 200, 200);
}
.alert-dark{
    background-color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}